blinker
click
colorama
filelock
Flask
Flask-Cors
fsspec
gunicorn
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
pillow
setuptools
sympy
torch
torchvision
typing_extensions
Werkzeug
opencv-python-headless
